/* Global */

body,
html {
    background-color: transparent;
    font-family: Arial;
    font-size: 0.9rem;
    font-weight: 100;
    height: 100%;
    overflow: hidden;
    user-select: none;
    width: 100%;
}

.buttons {
    text-align: center;
    bottom: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%)
}

.btn {
    line-height: 1;
    padding: 0.4rem;
}

.btn-light {
    background-color: #e9ecef;
    border-color: #e9ecef;
}

.buttons {
    text-align: center;
}

.card {
    position: fixed;
}

.card-body {
    padding: 0.4rem;
}

.card-header {
    padding: 0.2rem 0.4rem;
}

.centered {
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* Internet Explorer */
    -webkit-transform: translate(-50%, -50%); /* Safari */
}

.centered-horizontally {
    left: 50%;
    position: fixed;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%); /* Internet Explorer */
    -webkit-transform: translate(-50%, 0%); /* Safari */
}

.dataTables_length {
    display: none;
}

.header .button-expand {
    display: none;
}

.header .button-collapse,
.header .button-expand {
    float: right;
    height: 16px;
    margin: 2px -2px 0 8px;
    width: 16px;
}

.layer-background {
    z-index: 200;
}

.layer-bottom {
    z-index: 100;
}

.layer-cursor {
    z-index: 300;
}

.layer-middle {
    z-index: 150;
}

.layer-top {
    z-index: 250;
}

.panel-big {
    bottom: 10px;
    display: none;
    left: 10px;
    right: 10px;
    top: 60px;
}

.panel-medium {
    display: none;
    left: 20%;
    padding-bottom: 50px;
    right: 20%;
    top: 20%;
}

.table {
    margin-bottom: 0;
}

.table td,
.table th {
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
}

.table th {
    border-top: 0;
}

.table.no-header tr:first-child td {
    border-top: 0;
}

.table .group-item-first {
    width: 12px;
}

/* Background */

#background {
    background-color: rgba(233, 236, 239, 0.5);
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
}

/* Configurations */

#configurations {
    bottom: 80px;
    left: 220px;
}

/* Container */

#container {
    bottom: 10px;
    left: 10px;
    position: absolute;
    right: 10px;
    top: 60px;
}

/* Cursor */

#cursor {
    display: none !important;
    position: absolute;
}

#cursor img {
    display: none;
    width: 30px;
}

#cursor,
#cursor img {
    pointer-events: none;
}

#cursor .attack {
    margin-left: -15px;
    margin-top: -15px;
}

#cursor .idle {
    display: block;
    margin-left: -8px;
    margin-top: -3px;
}

#cursor .move {
    margin-left: -16px;
    margin-top: -15px;
}

/* Diplomacy */

#diplomacy .name {
    font-weight: bold;
}

/* Floating description */

.floating-description {
    background: rgba(255, 255, 255, 0.8);
    min-width: 50px;
    position: fixed;
    z-index: -1;
}

.floating-description .bar {
    margin-bottom: 2px;
}

.floating-description .bar .background,
.floating-description .bar .current {
    height: 3px;
}

.floating-description .bar .current {
    margin-top: -3px;
}

.floating-description .bar.ammunition .background {
    background: rgba(255, 0, 0, 0.5);
}

.floating-description .bar.ammunition .current {
    background: rgba(255, 0, 0, 1.0);
}

.floating-description .bar.fuel .background {
    background: rgba(255, 165, 0, 0.5);
}

.floating-description .bar.fuel .current {
    background: rgba(255, 165, 0, 1.0)
}

.floating-description .bar.health .background {
    background: rgba(0, 128, 0, 0.5);
}

.floating-description .bar.health .current {
    background: rgba(0, 128, 0, 1.0);
}

.floating-description .bar.reload .background {
    background: rgba(0, 0, 255, 0.5);
}

.floating-description .bar.reload .current {
    background: rgba(0, 0, 255, 1.0);
}

.floating-description .name {
    margin-bottom: 2px;
    padding: 0 4px;
}

/* Game Menu */

#game-menu {
    right: 5px;
    top: 5px;
}

/* Info */

#info {
    left: 5px;
    bottom: 5px;
}

/* Layers */

#layers .btn {
    margin-bottom: 4px;
}

/* Log */

#log {
    bottom: 5px;
    height: 30px;
    left: 5px;
    overflow: hidden;
    right: 50%;
    top: 5px;
}

#log p {
    margin-bottom: 0.2rem;
}

#log .error {
    color: red;
}

#log .info {
    color: green;
}

/* Menu */

#load-menu,
#main-menu,
#map-menu {
    display: none;
    width: 200px;
}

#load-menu button,
#main-menu button,
#map-menu button {
    margin-bottom: 0.4rem;
    width: 100%;
}

#load-menu .button-quit-application,
#main-menu .button-quit-application,
#map-menu .button-quit-application {
    margin-bottom: 0;
}

/* Minimap */

#minimap {
    bottom: 5px;
    right: 5px;
}

#minimap .body {
    height: 128px;
    width: 128px;
}

/* Orders */

#orders {
    bottom: 5px;
    left: 220px;
}

/* Players */

#players {
    display: none !important;
    left: 700px;
    top: 60px;
}

/* Preview */

#preview {
    display: none !important;
    left: 882px;
    top: 60px;
}

#preview .body {
    height: 128px;
    width: 128px;
}

/* Resources */

#resources {
    left: 5px;
    top: 40px;
}

#resources .green {
    color: green;
}

#resources .red {
    color: red;
}

/* Skills */

#skills {
    bottom: 5px;
    left: 620px;
}

/* Technologies */

#technologies .placeholder button {
    margin: 5px;
}
